/* Global Styles */
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('stardew.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
}

/* Headers */
h1 {
    font-size: 75px;
    color: #000;
    margin-top: 50px;
    text-align: center;
}

h2 {
    font-size: 45px;
    color: #fbd7f8;
    margin-bottom: 5px;
    text-align: center;
}

h3 {
    font-size: 15px;
    text-align: right;
    color: #000;
    margin-top: 20px;
    padding: 10px;
    background-color: #F1D0CD;
    border: 2px solid #BDACBD;
    border-radius: 5px;
    width: fit-content;
    margin: 10px 0;
}

/* Header and Navigation */
header {
    background: rgba(53, 66, 74, 0.5);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #fbd7f8;
    color: #333;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

nav ul li a.active {
    background-color: #fbd7f8;
    color: #333;
}

/* Timeline Styles */
.timeline-container-one {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    margin: 30px 0 40px;
}

.timeline {
    position: relative;
    width: 80%;
    height: 5px;
    background-color: #B3CDE6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 -50px;
}

.timeline-point {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #A8D3B7;
    border-radius: 50%;
    cursor: pointer;
}

.popup-content {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    font-size: 14px;
    z-index: 100;
    max-width: 500px;
}

.popup-content img {
    display: block;
    margin: 10px auto;
    width: 100px;
    height: auto;
    border-radius: 5px;
}

.timeline-point:hover .popup-content {
    display: block;
}

/* Carousel Styles */
.carousel-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carousel {
    flex: 1;
    margin: 0 10px;
    max-width: 500px;
    position: relative;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-images img {
    height: auto;
    max-height: 300px;
    display: none;
    padding-bottom: 50px;
    border-radius: 25px;
    width: 300px;
    object-fit: cover;
}

.carousel-images img.active {
    display: block;
}

.carousel-text {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: right;
    padding: 10px;
    border-radius: 0 0 15px 15px;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Video Styles */
.video-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

video {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.video-wrapper {
    flex: 1;
    margin: 10px;
    max-width: 500px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 20px;
    }

    .header-timeline-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .timeline {
        width: 100%;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 10px 0;
    }
}
